* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    padding: 10px;
    background-color: rgb(3, 179, 47);
    width: 140px;
}

body section {
    padding: 0 10px 0 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

body form label a {
    font-size: medium;
}

button {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.monitorando {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 10vw;
    padding: 15px;
    font-size: larger;
}